html {
    font-size: 80%;
    /* poner aqui la fuente roboto */
}

main {
    height: 100vh;
    min-height: 850px;
    padding:0;

    justify-content: flex-start;

    
}

.section-estadisticas {
    height: 45%;
    margin: 20px 0;
    
    justify-content: space-evenly;
}

#p-nota {
    height: 10%;
    margin: 40px 0 0 0;
    padding: 10px 0 0 0;
    font-size: 2rem;
}

.div-estadistica {
    margin-top: 50px;
}

.section-actualizado {
    height: 25%;
    margin: 30px 0;
}

.section-instituciones {
    height: 25%;
    margin: 10px 0;
}

.div-owid,
.div-ssmx {
    font-size: 2.4rem;
}

